#allbooksshow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bookshow{
    width: 30%;
    height: 650px;
    border: 2px solid black;
    margin-top: 20px;
}

#bookshow:hover{
    cursor: pointer;
}

#bookshow > img{
    width: 86%;
    height: 67%;
    margin-top: 10px;
}

#bookshow > p{
    font-size: 20px;
    line-height: 2;
}

#bookshow > p:nth-child(2){
    margin-top: 20px;
}

#main > button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color:brown;
    color: white;
}